html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, 
#root{
  height: 100vh;
  margin: 0;
}
body, input, select, textarea{
  font-size:  1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: 'header'
  'main'
  'footer';
  grid-template-rows: 5rem 1fr 5rem;  /*el primero es el header y el footer es el tercero*/
  grid-template-columns: 1fr;
  height: 100%; /*con esto separamos nav y footer*/
}
a:hover{
  color: #ff8000; /*para cambiar color de links*/
}

header{
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a{
  color: white;
  text-decoration: none;
}

main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex; /*lo manda al centro*/
  justify-content: center; /*lo manda al centro*/
  align-items: center; /*lo manda al centro*/
}